<!DOCTYPE html>
<html>
<head>
	<title>Choi's Main page</title>

    <style>
       td {padding:10px;}
       body {background:green;}
       h1{font-style:italic}
       h2{color:aquamarine; float:right;}
       tr{background-color:chocolate}
       th{font-style:oblique}

    </style>
</head>
<body>
		<div style = font-size:50px;font-style:italic>WEB PROGRAMMING MAIN PAGE</div>
    <h2>Welcome! {{user.u_id}}<a href="/"><input type = "submit" value ="Logout" /></a></h1>
    <h3><a href="/search">Go to Search Page </a></h2>

	<table border = "0">

        <br >
        <br >
		<tbody>
				<tr>
					<td><b>
						<label for ="fuel_h">Fuel good <input type="checkbox" name = "fuel_h" id="fule_h"></label>
							</b></td>
					<td><b>
						<label for ="fuel_m">Fuel middle <input type="checkbox" name = "fuel_m" id="fule_m"></label>
							</b></td>
					<td><b>
						<label for ="fuel_l">Fuel low <input type="checkbox" name = "fuel_l" id="fule_l"></label>
							</b></td>
				</tr>
				<tr>
					<td><b>
						<label for ="auto">Automatic <input type="checkbox" name = "auto" id="auto"></label>
							</b></td>
					<td><b>
						<label for ="manual">Manual <input type="checkbox" name = "manual" id="manual"></label>
							</b></td>
				</tr>
				<tr>
					<td><b>
						<label for ="cate_small">Little car <input type="checkbox" name = "cate_small" id="cate_small"></label>
							</b></td>
					<td><b>
						<label for ="cate_middle">Middle car <input type="checkbox" name = "cate_middle" id="cate_middle"></label>
							</b></td>
					<td><b>
						<label for ="cate_big">Big car <input type="checkbox" name = "cate_big" id="cate_big"></label>
							</b></td>
				</tr>
				<tr>
					<td><b>
						<label for ="company">Company: <input type="text" name = "company" id="company"></label>
							</b></td>
						</tr>
						<tr>
							<td>
								<input type = "submit" value ="Search" >
							</td>
						</tr>
		</tbody>
		<tbody>
			{% for car in carinfo %}
			<tr>
				<td>
					<img src="{{car.car_image}}" width="245">
				</td>
				<td>
					{{car.car_name}}<br>
					{{car.car_fuel}}<br>
					{{car.car_Auto}}<br>
					{{car.car_Cate}}<br>
					{{car.car_Company}}<br>
					{{car.car_Country}}<br>
				</td>
				<td>
					<img src="{{car.car_image}}" width="245">
				</td>
				<td>
					{{car.car_name}}<br>
					{{car.car_fuel}}<br>
					{{car.car_Auto}}<br>
					{{car.car_Cate}}<br>
					{{car.car_Company}}<br>
					{{car.car_Country}}<br>
				</td>
			</tr>
								{% endfor %}
		</tbody>

</body>
</html>
