<!DOCTYPE html>
<html>
<head>
	<title>sign in page</title>
	{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    <style>
       td {padding:10px;}
       body {background:green;}
       h1{font-style:italic}
       h1{color:aquamarine}
       tr{background-color:skyblue}
       th{font-style:oblique}
       th{background-color: gray}

    </style>
</head>
<body>
    <h1>Sign in!</h1>
    <h2><a href="/">Go to Main page </a></h2>
		<h3><a href="/signup">want to join?</a><h3>
					<form action="/signinuser" method="post">{%csrf_token%}

	<table border = "0">
		<thead>
			<th>
				sign in!
			</th>
		</thead>
        <br >
        <br >
		<tbody>
			<tr>
				<td>
					<b>
						<label for ="ID">ID: <input type="text" name = "ID" id="ID" placeholder="Your ID"></label>
							</b>
				</td>
			</tr>
				<tr>
					<td><b>
						<label for ="Password">Password: <input type="text" name = "password" id="password" placeholder="Your password"></label></td>
					</b>
					</td>
				</tr>
					<td>
		<input type="submit" value="sign in" style="font-style:normal; color:darkcyan;font-size:large"/>
	</form>
</td>
</tr>

		</tbody>

</body>
</html>
